<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
      <title>result</title>
        <link rel="stylesheet" type="text/css" href="./assets/stylesheets/application.scss">
  </head>
  <body>
    <h1>法律自由文検索システム</h1>
      <div class="result">
        <% if @rtd.any? %>
          <% @rtd.slice(1..-1).each do |record| %>
          
          
            <% lawNum = record.children[5].inner_text %>
            <% article = record.children[7].inner_text %>
            <% url = "http://elaws.e-gov.go.jp/api/1/articles;lawNum=#{lawNum};article=#{article}" %>
           
          <p class="apple">
            <%= form_tag("/article", method:"get") do %>
              <%= hidden_field_tag :lawNum, lawNum %>       
              <%= hidden_field_tag :article, article %> 
              <%= submit_tag("選択") %>
            <%= record.inner_text %>
            <% end %>
          </p>
            
          <% end %>
        <% else %>
        <div class="col s12 m12 l6 offset-l3">
          <div class="error">
            <p>検索結果がありません。</p> 
            <p>・Keywordではない名詞が使われてないか確認してください。</p>
            <p>・短すぎる/長すぎる文である可能性があります。</p>
          </div>        
        </div>  
        <% end %>
        <div class="buttons_text-center">
          <%= link_to '戻る', '/' %>
        </div>
      </div>
  </body>
  <footer>
    <small>&copy; 2018 HA.</small>
  </footer>
</html>